* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: MontSerrat, sans-serif;
}

button {
  cursor: pointer;
}

#root {
  background-color: #333;
}

/* Navigation Component */

.btnContainer {
  height: 100vh;
  width: 100%;
  background-color: #2a2a2a;
}

#side-button {
  display: flex;
  position: fixed;
  right: 8%;
  top: 5%;
  width: 45px;
  height: 35px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  cursor: pointer;
}

#side-button div {
  width: 100%;
  height: 2.5px;
  background-color: gray;
  display: block;
}

#side-button:hover #first {
  transform: rotate(1turn);
  transition: 1s transform;
}

.close-btn {
  font-size: 4rem;
  color: gray;
}

#close-btn-div {
  position: absolute;
  z-index: 2;
  top: 5%;
  right: 8%;
  cursor: pointer;
}

.navContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a2a2a;
  position: relative;
}

.navContainer ul {
  list-style: none;
  text-align: center;
  max-height: 600px;
  max-width: 600px;
  height: 100%;
  width: 100%;
  padding: 10px 0;
  position: relative;
}

.navContainer ul li {
  height: calc(100% / 5);
}

.navContainer ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  z-index: 2;
  position: relative;
  font-size: 30px;
  color: #5a5a5a;
  background-color: rgba(0,0,0,.02);
  text-decoration: none;
}

.navContainer li > .active {
  color: #999;
  font-weight: 600;
}

.navContainer ul li a:hover { color: #5a5a5a }

.navContainer ul li a:after {
  content: " ";
  height: 100%;
  left: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

.navContainer ul li a:hover:after { width: 100%; }
.navContainer ul li a:hover:after { background: #2d2d2d }

#topbar {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.isOpen {
  top: 0;
  height: 100vh;
  transition: all 0.35s linear;
}

.isClose {
  top: -100vh;
  height: 0;
  transition: all 0.2s linear;
}

/*
 About Component 
*/

.container {
  height: 100vh;
  background-color: #333;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.grid-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#social {
  grid-column-start: 1;
  grid-column-end: 2;
  width: 50px;
  margin: auto 0;
  z-index: 2;
}

#social ul {
  list-style: none;
}

.social-icons {
  font-size: 3rem;
  width: 100%;
  padding: 10px 0;
  color: #fff;
}

#social ul li:first-child {
  font-size: 10px;
  margin: 0 0 5px 5px;
  color: #9f9f9f;
  font-family: sans-serif, monospace;
}

#social ul li:nth-child(2) { background-color: #4868ad; transition: width 0.5s ; }
#social ul li:nth-child(3) { background-color: #2f2f2f; transition: width 0.3s ; }
#social ul li:nth-child(4) { background-color: #2867B2; transition: width 0.3s ; }
#social ul li:nth-child(5) { background: 
  radial-gradient(circle at 25% 110%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%), 
  radial-gradient(circle at 25% 110%,#b9a800 0,#938500 5%,#b10f00 45%,#8c0061 60%,#002ca9 90%);
  transition: width 0.3s ;
}
#social ul li:last-child { background-color: #1DA1F2; transition: width 0.3s ; }

#social ul li:nth-child(2):hover { width: 100px; }
#social ul li:nth-child(3):hover { width: 100px; }
#social ul li:nth-child(4):hover { width: 100px; }
#social ul li:nth-child(5):hover { width: 100px; }
#social ul li:last-child:hover { width: 100px; }

#about, .main {
  grid-column-start: 2;
  grid-column-end: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#about div:first-child {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 15%;
}

.myPhoto {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}

#about p {
  max-width: 700px;
  min-width: 250px;
  text-align: center;

}

#about p:nth-child(2) {
  font-family: MontSerrat;
  font-size: 2rem;
  letter-spacing: -1.5px;
  color: #cacaca;
  line-height: 1.7em;
  font-weight: 600;
}

#about p:nth-child(3) {
  font-family:  Lato,Helvetica,Arial,sans-serif;
  font-size: 1.2rem;
  color: #8a8a8a;
}

#about button {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 1.7rem;
  background-color: #b10f00;
  color: #fff;
  border: 0;
  position: absolute;
  bottom: 10%;
}

#about button a {
  text-decoration: none;
  color: #fff;
}

.next {
  grid-column-start: 6;
  grid-column-end: 7;
  position: fixed;
  right: 100px;
  top: 50%;
}

.back {
  grid-column-start: 1;
  grid-column-end: 2;
  position: fixed;
  left: 100px;
  top: 50%;
}

.main {
  margin: 4em 0 0;
}

/* Skills Component */

.back-icon, .next-icon {
  color: #999;
  font-size: 5rem;
}

.skill-container, .project-container{
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
}

.skills, .projects {
  max-width: 850px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  padding: 10px;
}

.skills h1 {
  color: #cacaca;
  font-size: 2.5em;
  margin: 15px 0 10px;
}

.skills p {
  color: #999;
  font-size: 15px;
  font-weight: 600;
}

.bullets {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 0;
}

.bullets span {
  color: #999;
  background-color: #313131;
  margin: 5px 3px;
  padding: 0.5em 0.7em;
  border: 1px solid #222;
  box-shadow: 1px 1px rgb(0 0 0 / 25%);
  cursor: pointer;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 700;
  line-height: 1em;
}

.content-item {
  max-width: 850px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 170px;
  width: 170px;
  background-color: #fff;
  box-shadow: 0 0 20px rgb(0 0 0 / 75%) inset;
  border-radius: 10px;
  margin: 20px;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-container {
  font-size: 1.3em;
  color: #8a8a8a;
  margin-top: 1.5em;
}

.all-container h3 {
  margin-left: 10px;
  text-align: start;
}

.skill-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* project Component */

.projects h1 {
  color: #cacaca;
  font-size: 2.5em;
  margin: 15px 0 10px;
}

.projects p {
  color: #999;
  font-size: 15px;
  font-weight: 600;
}

.project-card {
  height: 230px;
  width: 370px;
  background-color: #fff;
  box-shadow: 0 0 20px rgb(0 0 0 / 75%) inset;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.project-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-card .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #5a5a5a;
  opacity: 0.9;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.project-card:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-content .description {
  font-size: 15px;
  font-weight: 500;
}

.overlay-content button {
  margin-top: 30px;
  padding: 7px 12px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid yellow;
}

.overlay-content button a {
  color: yellow;
  text-decoration: none;
}

/* Achievement Component */

.achievement-card {
  width: 250px;
  height: 350px;
  background-color: #fff;
  box-shadow: 0 0 20px rgb(0 0 0 / 75%) inset;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.achievement-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.achievement-card:hover .overlay {
  bottom: 0;
  height: 100%;
}

.achievement-card .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #5a5a5a;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.card-title {
  width: 100%;
  color: #2d2d2d;
  font-weight: 600;
  margin: auto;
  font-size: 20px;
}

.star {
  color: green;
  font-size: 1.5em;
  vertical-align: middle;
}

/* Contact Component */

.contactContainer {
  height: 100vh;
  background-color: #333;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
}

.contactContainer div:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
}

.contactContainer div:last-child {
  grid-column-start: 2;
  grid-column-end: 5;
}

.grid-item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4em;
}

.grid-item-form div:first-child h1 {
  color: #cacaca;
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: .15em;
}

.grid-item-form div:first-child p {
  color: #8a8a8a;
  font-size: 1.15em;
  line-height: 1.7em;
  font-weight: 500;
}

.mail {
  text-decoration: none;
  color: #cacaca;
}

.icon-contact {
  color: #cacaca;
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: 10px;
}

.msg-contact {
  color: #cacaca;
  font-size: 1.5em;
  margin-right: 10px;
}

#form {
  margin-top: 3rem;
}

.grid-item-form div:first-child form button {
  font-size: 1rem;
  font-weight: 500;
  padding: .6rem 1.5rem;
  background-color: rgb(0, 150, 136);
  border: none;
  margin: 20px 3rem;
  color: #fff;

}

.grid-item-form div:first-child form button .icon-contact {
  color: #fff;
  font-size: 1.3rem !important;
}

.grid-item-form div:last-child h3 {
  color: #8a8a8a;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input, textarea {
  color: #797979;
  width: 80%;
  max-width: 600px;
  padding: 6px 14px 5px 15px;
  margin: 20px 0 20px 15px;
  font-size: 20px;
  font-weight: 500;
  color: #797979;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #797979;
  background-color: transparent;
  line-height: 100%;
}

.social {
  padding: 0.8rem 1.5rem;
  color: #fff;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 2.5px;
}

.social-btn-icon {
  margin-right: 0.5em;
  font-size: 1.5em;
  color: #fff;
  vertical-align: middle;
}

#social-btn a:nth-child(1) button{ background-color: rgb(72, 104, 173)}
#social-btn a:nth-child(2) button{ background-color: rgb(0, 119, 181);; }
#social-btn a:nth-child(3) button{ background-color: #2a2a2a; }
#social-btn a:nth-child(4) button{ background: 
  radial-gradient(circle at 25% 110%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%), 
  radial-gradient(circle at 25% 110%,#b9a800 0,#938500 5%,#b10f00 45%,#8c0061 60%,#002ca9 90%); }



/* page animation */

.page-enter {
  opacity: 0;
  /* transform: translateX(-100%); */
}

.page-enter-active {
  opacity: 0.6;
  /* transform: translateX(0%); */
  transition: all 600ms ease-in;
}

.page-exit {
  opacity: 0.6;
  /* transform: translateX(0%); */
}

.page-exit-active {
  opacity: 0;
  /* transform: translateX(100%); */
  transition: all 1000ms ease-out;
}

/* media */

@media (max-height: 800px) {
  #about div:first-child {
    width: 10rem;
  }
}

@media (max-width: 1200px) {
  .next {
    right: 20px;
  }
  .back {
    left: 20px;
  }
}

@media (max-width: 1000px) {
  .next {
    display: none;
  }

  .back {
    display: none;
  }

  .content-item {
    justify-content: center;
  }
}

@media (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  #social {
  width: 80%;
  margin: 20px auto;
  z-index: 2;
  position: absolute;
  bottom: 5%;
  }

  #about button {
    bottom: 25%;
  }

  #social ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  .social-icons {
    width: 50px;
  }

  #about div:first-child {
    width: 8rem;
  }

  #about p:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.7em;
  }

  #about p:nth-child(3) {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.75em;
  }

  .contactContainer {
    padding-top: 25%;
    height: 100%;
  }

  .contactContainer .grid-item {
    display: none;
  }

  .skill-container, .project-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
  }

  .skills h1 {
    font-size: 2em;
  }

  .skills {
    padding: 5px;
  }

  .card {
    width: 140px;
    height: 140px;
    margin: 10px 8px;
  }

  .project-card {
    width: 350px;
    margin: 10px 0;
  }

  .main {
    padding: 20px 0;
  }

  .content-item {
    justify-content: center;
  }

  .all-container {
    margin-top: 1.3em;
    font-size: 1.2em;
  }

  .grid-item-form {
    padding: 0;
  }

  #side-button {
    background-color: #222;
    padding: 15px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    top: 4%;
  }

  #side-button div {
    height: 2px;
  }

  #close-btn-div {
    background-color: #222;
    padding: 12px;
    border-radius: 50%;
    top: 3%;
    right: 5%;
  }

  .close-btn {
    font-size: 2.5rem;
  }

  .navContainer ul {
    margin-top: 40px;
  };
}

@media (max-width: 420px) {
  #about div:first-child {
    width: 10rem;
  }

  .achievement-card {
    width: 280px;
    height: 380px;
  }
}

@media (max-width: 390px) {
  #about div:first-child {
    width: 9rem;
  }
}

@media (max-width: 370px) {
  #about div:first-child {
    width: 8rem;
  }
}

@media (max-width: 321px) {
  #about div:first-child {
    width: 7rem;
    left: 25px;
    top: 40px;
  }

  .projects {
    padding: 10px;
  }

  .project-card {
    width: 300px;
    height: 200px
  }
}